<?php
/**
 * CoursedescApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * 
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 2.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * CoursedescApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class CoursedescApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return CoursedescApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation coursedescLearnv1coursedescgetCourseDescription
     *
     * Course Description action
     *
     * @param int $course_id The id of the Course (required)
     * @param string $display_type The display type for admin or learner (required)
     * @param string $current_session_id The id of the Course session (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\LearnCoursedescGetCourseDescriptionResponse
     */
    public function coursedescLearnv1coursedescgetCourseDescription($course_id, $display_type, $current_session_id = null)
    {
        list($response) = $this->coursedescLearnv1coursedescgetCourseDescriptionWithHttpInfo($course_id, $display_type, $current_session_id);
        return $response;
    }

    /**
     * Operation coursedescLearnv1coursedescgetCourseDescriptionWithHttpInfo
     *
     * Course Description action
     *
     * @param int $course_id The id of the Course (required)
     * @param string $display_type The display type for admin or learner (required)
     * @param string $current_session_id The id of the Course session (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\LearnCoursedescGetCourseDescriptionResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function coursedescLearnv1coursedescgetCourseDescriptionWithHttpInfo($course_id, $display_type, $current_session_id = null)
    {
        // verify the required parameter 'course_id' is set
        if ($course_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $course_id when calling coursedescLearnv1coursedescgetCourseDescription');
        }
        // verify the required parameter 'display_type' is set
        if ($display_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $display_type when calling coursedescLearnv1coursedescgetCourseDescription');
        }
        // parse inputs
        $resourcePath = "/learn/v1/coursedesc/getCourseDescription";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($course_id !== null) {
            $queryParams['course_id'] = $this->apiClient->getSerializer()->toQueryValue($course_id);
        }
        // query params
        if ($current_session_id !== null) {
            $queryParams['current_session_id'] = $this->apiClient->getSerializer()->toQueryValue($current_session_id);
        }
        // query params
        if ($display_type !== null) {
            $queryParams['display_type'] = $this->apiClient->getSerializer()->toQueryValue($display_type);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\LearnCoursedescGetCourseDescriptionResponse',
                '/learn/v1/coursedesc/getCourseDescription'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\LearnCoursedescGetCourseDescriptionResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\LearnCoursedescGetCourseDescriptionResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
