<?php
/**
 * LearningObjectsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * 
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 2.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * LearningObjectsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class LearningObjectsApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return LearningObjectsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation learningObjectsSkillv1coursesloIdskills
     *
     * Retrieves the list of Skills, that are assigned to given learning object
     *
     * @param int $lo_id Learning Object id (required)
     * @param string $sort_attr Sort by this field, default value - title. Options: title, id (optional)
     * @param string $sort_dir Sorting Direction: asc &#x3D; ascending, desc &#x3D; descending, default - desc (optional)
     * @param int $page Page to return, default 1 (optional)
     * @param int $page_size Maximum number of results per page, default 200 (optional)
     * @param string $lang Language code. Language used to process input parameters, sort data, and provide the output. Default - Platform default language (optional)
     * @param int $get_total_count If 1 the count of found items will be returned. Options: 0, 1 default 0 (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\SkillLearningobjectsListSkillsResponse
     */
    public function learningObjectsSkillv1coursesloIdskills($lo_id, $sort_attr = null, $sort_dir = null, $page = null, $page_size = null, $lang = null, $get_total_count = null)
    {
        list($response) = $this->learningObjectsSkillv1coursesloIdskillsWithHttpInfo($lo_id, $sort_attr, $sort_dir, $page, $page_size, $lang, $get_total_count);
        return $response;
    }

    /**
     * Operation learningObjectsSkillv1coursesloIdskillsWithHttpInfo
     *
     * Retrieves the list of Skills, that are assigned to given learning object
     *
     * @param int $lo_id Learning Object id (required)
     * @param string $sort_attr Sort by this field, default value - title. Options: title, id (optional)
     * @param string $sort_dir Sorting Direction: asc &#x3D; ascending, desc &#x3D; descending, default - desc (optional)
     * @param int $page Page to return, default 1 (optional)
     * @param int $page_size Maximum number of results per page, default 200 (optional)
     * @param string $lang Language code. Language used to process input parameters, sort data, and provide the output. Default - Platform default language (optional)
     * @param int $get_total_count If 1 the count of found items will be returned. Options: 0, 1 default 0 (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\SkillLearningobjectsListSkillsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function learningObjectsSkillv1coursesloIdskillsWithHttpInfo($lo_id, $sort_attr = null, $sort_dir = null, $page = null, $page_size = null, $lang = null, $get_total_count = null)
    {
        // verify the required parameter 'lo_id' is set
        if ($lo_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $lo_id when calling learningObjectsSkillv1coursesloIdskills');
        }
        // parse inputs
        $resourcePath = "/skill/v1/courses/{lo_id}/skills";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($sort_attr !== null) {
            $queryParams['sort_attr'] = $this->apiClient->getSerializer()->toQueryValue($sort_attr);
        }
        // query params
        if ($sort_dir !== null) {
            $queryParams['sort_dir'] = $this->apiClient->getSerializer()->toQueryValue($sort_dir);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        // query params
        if ($page_size !== null) {
            $queryParams['page_size'] = $this->apiClient->getSerializer()->toQueryValue($page_size);
        }
        // query params
        if ($lang !== null) {
            $queryParams['lang'] = $this->apiClient->getSerializer()->toQueryValue($lang);
        }
        // query params
        if ($get_total_count !== null) {
            $queryParams['get_total_count'] = $this->apiClient->getSerializer()->toQueryValue($get_total_count);
        }
        // path params
        if ($lo_id !== null) {
            $resourcePath = str_replace(
                "{" . "lo_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($lo_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SkillLearningobjectsListSkillsResponse',
                '/skill/v1/courses/{lo_id}/skills'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SkillLearningobjectsListSkillsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SkillLearningobjectsListSkillsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation learningObjectsSkillv1losloIdprograms
     *
     * Assign a Learning Object to a Program
     *
     * @param int $lo_id learning object id (required)
     * @param \Swagger\Client\Model\SkillLearningobjectsAssignProgramsSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\SkillLearningobjectsAssignProgramsResponse
     */
    public function learningObjectsSkillv1losloIdprograms($lo_id, $body = null)
    {
        list($response) = $this->learningObjectsSkillv1losloIdprogramsWithHttpInfo($lo_id, $body);
        return $response;
    }

    /**
     * Operation learningObjectsSkillv1losloIdprogramsWithHttpInfo
     *
     * Assign a Learning Object to a Program
     *
     * @param int $lo_id learning object id (required)
     * @param \Swagger\Client\Model\SkillLearningobjectsAssignProgramsSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\SkillLearningobjectsAssignProgramsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function learningObjectsSkillv1losloIdprogramsWithHttpInfo($lo_id, $body = null)
    {
        // verify the required parameter 'lo_id' is set
        if ($lo_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $lo_id when calling learningObjectsSkillv1losloIdprograms');
        }
        // parse inputs
        $resourcePath = "/skill/v1/los/{lo_id}/programs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($lo_id !== null) {
            $resourcePath = str_replace(
                "{" . "lo_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($lo_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SkillLearningobjectsAssignProgramsResponse',
                '/skill/v1/los/{lo_id}/programs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SkillLearningobjectsAssignProgramsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SkillLearningobjectsAssignProgramsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation learningObjectsSkillv1losloIdprograms_0
     *
     * Unassigns a Learning Object from a Program
     *
     * @param int $lo_id learning object id (required)
     * @param \Swagger\Client\Model\SkillLearningobjectsUnassignProgramsSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\SkillLearningobjectsUnassignProgramsResponse
     */
    public function learningObjectsSkillv1losloIdprograms_0($lo_id, $body = null)
    {
        list($response) = $this->learningObjectsSkillv1losloIdprograms_0WithHttpInfo($lo_id, $body);
        return $response;
    }

    /**
     * Operation learningObjectsSkillv1losloIdprograms_0WithHttpInfo
     *
     * Unassigns a Learning Object from a Program
     *
     * @param int $lo_id learning object id (required)
     * @param \Swagger\Client\Model\SkillLearningobjectsUnassignProgramsSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\SkillLearningobjectsUnassignProgramsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function learningObjectsSkillv1losloIdprograms_0WithHttpInfo($lo_id, $body = null)
    {
        // verify the required parameter 'lo_id' is set
        if ($lo_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $lo_id when calling learningObjectsSkillv1losloIdprograms_0');
        }
        // parse inputs
        $resourcePath = "/skill/v1/los/{lo_id}/programs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($lo_id !== null) {
            $resourcePath = str_replace(
                "{" . "lo_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($lo_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SkillLearningobjectsUnassignProgramsResponse',
                '/skill/v1/los/{lo_id}/programs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SkillLearningobjectsUnassignProgramsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SkillLearningobjectsUnassignProgramsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation learningObjectsSkillv1losloIdskills
     *
     * Assign Skill to a Learning Organization
     *
     * @param int $lo_id Learning organization id (required)
     * @param \Swagger\Client\Model\SkillLearningobjectsCreateSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\SkillLearningobjectsCreateResponse
     */
    public function learningObjectsSkillv1losloIdskills($lo_id, $body = null)
    {
        list($response) = $this->learningObjectsSkillv1losloIdskillsWithHttpInfo($lo_id, $body);
        return $response;
    }

    /**
     * Operation learningObjectsSkillv1losloIdskillsWithHttpInfo
     *
     * Assign Skill to a Learning Organization
     *
     * @param int $lo_id Learning organization id (required)
     * @param \Swagger\Client\Model\SkillLearningobjectsCreateSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\SkillLearningobjectsCreateResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function learningObjectsSkillv1losloIdskillsWithHttpInfo($lo_id, $body = null)
    {
        // verify the required parameter 'lo_id' is set
        if ($lo_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $lo_id when calling learningObjectsSkillv1losloIdskills');
        }
        // parse inputs
        $resourcePath = "/skill/v1/los/{lo_id}/skills";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($lo_id !== null) {
            $resourcePath = str_replace(
                "{" . "lo_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($lo_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SkillLearningobjectsCreateResponse',
                '/skill/v1/los/{lo_id}/skills'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SkillLearningobjectsCreateResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SkillLearningobjectsCreateResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation learningObjectsSkillv1losloIdskills_0
     *
     * De-assigns an existing skill(s) from given learning object
     *
     * @param int $lo_id ID of a learning object to delete (required)
     * @param \Swagger\Client\Model\SkillLearningobjectsDeleteSkillsSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\SkillLearningobjectsDeleteSkillsResponse
     */
    public function learningObjectsSkillv1losloIdskills_0($lo_id, $body = null)
    {
        list($response) = $this->learningObjectsSkillv1losloIdskills_0WithHttpInfo($lo_id, $body);
        return $response;
    }

    /**
     * Operation learningObjectsSkillv1losloIdskills_0WithHttpInfo
     *
     * De-assigns an existing skill(s) from given learning object
     *
     * @param int $lo_id ID of a learning object to delete (required)
     * @param \Swagger\Client\Model\SkillLearningobjectsDeleteSkillsSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\SkillLearningobjectsDeleteSkillsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function learningObjectsSkillv1losloIdskills_0WithHttpInfo($lo_id, $body = null)
    {
        // verify the required parameter 'lo_id' is set
        if ($lo_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $lo_id when calling learningObjectsSkillv1losloIdskills_0');
        }
        // parse inputs
        $resourcePath = "/skill/v1/los/{lo_id}/skills";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($lo_id !== null) {
            $resourcePath = str_replace(
                "{" . "lo_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($lo_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SkillLearningobjectsDeleteSkillsResponse',
                '/skill/v1/los/{lo_id}/skills'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SkillLearningobjectsDeleteSkillsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SkillLearningobjectsDeleteSkillsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
