<?php
/**
 * ManagerApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * 
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 2.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * ManagerApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ManagerApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return ManagerApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation managerSkillv1managersmanagerIdusers
     *
     * Retrieves all the subordinates of a Manager
     *
     * @param int $manager_id ID of manager to get subordinates (required)
     * @param int $hierarchy Type of manager (1 for Direct manager, other codes reserved for future improvements). Default - 1 (optional)
     * @param string $sort_attr Sort by id, username, name, or email of user. Default - id (optional)
     * @param string $sort_dir Sorting Direction: asc &#x3D; ascending, desc &#x3D; descending, default - desc (optional)
     * @param int $page Page to return, default 1 (optional)
     * @param int $page_size Maximum number of results per page, default 200 (optional)
     * @param string $lang Language code. Language used to process input parameters, sort data, and provide the output. Default - Platform default language (optional)
     * @param int $get_total_count If 1 the count of found items will be returned. Options: 0, 1 default 0 (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\SkillManagerGetSubordinatesResponse
     */
    public function managerSkillv1managersmanagerIdusers($manager_id, $hierarchy = null, $sort_attr = null, $sort_dir = null, $page = null, $page_size = null, $lang = null, $get_total_count = null)
    {
        list($response) = $this->managerSkillv1managersmanagerIdusersWithHttpInfo($manager_id, $hierarchy, $sort_attr, $sort_dir, $page, $page_size, $lang, $get_total_count);
        return $response;
    }

    /**
     * Operation managerSkillv1managersmanagerIdusersWithHttpInfo
     *
     * Retrieves all the subordinates of a Manager
     *
     * @param int $manager_id ID of manager to get subordinates (required)
     * @param int $hierarchy Type of manager (1 for Direct manager, other codes reserved for future improvements). Default - 1 (optional)
     * @param string $sort_attr Sort by id, username, name, or email of user. Default - id (optional)
     * @param string $sort_dir Sorting Direction: asc &#x3D; ascending, desc &#x3D; descending, default - desc (optional)
     * @param int $page Page to return, default 1 (optional)
     * @param int $page_size Maximum number of results per page, default 200 (optional)
     * @param string $lang Language code. Language used to process input parameters, sort data, and provide the output. Default - Platform default language (optional)
     * @param int $get_total_count If 1 the count of found items will be returned. Options: 0, 1 default 0 (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\SkillManagerGetSubordinatesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function managerSkillv1managersmanagerIdusersWithHttpInfo($manager_id, $hierarchy = null, $sort_attr = null, $sort_dir = null, $page = null, $page_size = null, $lang = null, $get_total_count = null)
    {
        // verify the required parameter 'manager_id' is set
        if ($manager_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $manager_id when calling managerSkillv1managersmanagerIdusers');
        }
        // parse inputs
        $resourcePath = "/skill/v1/managers/{manager_id}/users";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($hierarchy !== null) {
            $queryParams['hierarchy'] = $this->apiClient->getSerializer()->toQueryValue($hierarchy);
        }
        // query params
        if ($sort_attr !== null) {
            $queryParams['sort_attr'] = $this->apiClient->getSerializer()->toQueryValue($sort_attr);
        }
        // query params
        if ($sort_dir !== null) {
            $queryParams['sort_dir'] = $this->apiClient->getSerializer()->toQueryValue($sort_dir);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        // query params
        if ($page_size !== null) {
            $queryParams['page_size'] = $this->apiClient->getSerializer()->toQueryValue($page_size);
        }
        // query params
        if ($lang !== null) {
            $queryParams['lang'] = $this->apiClient->getSerializer()->toQueryValue($lang);
        }
        // query params
        if ($get_total_count !== null) {
            $queryParams['get_total_count'] = $this->apiClient->getSerializer()->toQueryValue($get_total_count);
        }
        // path params
        if ($manager_id !== null) {
            $resourcePath = str_replace(
                "{" . "manager_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($manager_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SkillManagerGetSubordinatesResponse',
                '/skill/v1/managers/{manager_id}/users'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SkillManagerGetSubordinatesResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SkillManagerGetSubordinatesResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation managerSkillv1managersmanagerIdusers_0
     *
     * Assigns subordinates to an User
     *
     * @param int $manager_id Id of manager (required)
     * @param \Swagger\Client\Model\SkillManagerAssignSubordinatesSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\SkillManagerAssignSubordinatesResponse
     */
    public function managerSkillv1managersmanagerIdusers_0($manager_id, $body = null)
    {
        list($response) = $this->managerSkillv1managersmanagerIdusers_0WithHttpInfo($manager_id, $body);
        return $response;
    }

    /**
     * Operation managerSkillv1managersmanagerIdusers_0WithHttpInfo
     *
     * Assigns subordinates to an User
     *
     * @param int $manager_id Id of manager (required)
     * @param \Swagger\Client\Model\SkillManagerAssignSubordinatesSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\SkillManagerAssignSubordinatesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function managerSkillv1managersmanagerIdusers_0WithHttpInfo($manager_id, $body = null)
    {
        // verify the required parameter 'manager_id' is set
        if ($manager_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $manager_id when calling managerSkillv1managersmanagerIdusers_0');
        }
        // parse inputs
        $resourcePath = "/skill/v1/managers/{manager_id}/users";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($manager_id !== null) {
            $resourcePath = str_replace(
                "{" . "manager_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($manager_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SkillManagerAssignSubordinatesResponse',
                '/skill/v1/managers/{manager_id}/users'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SkillManagerAssignSubordinatesResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SkillManagerAssignSubordinatesResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation managerSkillv1managersmanagerIdusers_1
     *
     * Unassigns subordinates from an User
     *
     * @param int $manager_id ID of the manager (required)
     * @param \Swagger\Client\Model\SkillManagerDeleteSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\SkillManagerDeleteResponse
     */
    public function managerSkillv1managersmanagerIdusers_1($manager_id, $body = null)
    {
        list($response) = $this->managerSkillv1managersmanagerIdusers_1WithHttpInfo($manager_id, $body);
        return $response;
    }

    /**
     * Operation managerSkillv1managersmanagerIdusers_1WithHttpInfo
     *
     * Unassigns subordinates from an User
     *
     * @param int $manager_id ID of the manager (required)
     * @param \Swagger\Client\Model\SkillManagerDeleteSchema $body Raw Body (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\SkillManagerDeleteResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function managerSkillv1managersmanagerIdusers_1WithHttpInfo($manager_id, $body = null)
    {
        // verify the required parameter 'manager_id' is set
        if ($manager_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $manager_id when calling managerSkillv1managersmanagerIdusers_1');
        }
        // parse inputs
        $resourcePath = "/skill/v1/managers/{manager_id}/users";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($manager_id !== null) {
            $resourcePath = str_replace(
                "{" . "manager_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($manager_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\SkillManagerDeleteResponse',
                '/skill/v1/managers/{manager_id}/users'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\SkillManagerDeleteResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\SkillManagerDeleteResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
